 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Yaldevi&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto+Mono:ital@1&family=Yaldevi&display=swap');
 /*font-family: 'Roboto Mono', monospace;*/
 /*font-family: 'Noto Sans', sans-serif;*/



.logo{
    font-family: 'Roboto Mono', monospace;
}

.botones{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}
